/*
Color used 
Text color (Black): #000
Primary Color (Pinkish Red): #fe2c54
Secondary Color (Yellow): #ffdd12
*/

:root {
    --primary-color: #fe2c54;
    --secondary-color: #ffdd12;
    --tertiary-color: #489c79;
    --font-weight: 700;
}
body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}  